html {
    background: linear-gradient(#81c2d2, #3b91a6);
    font-family: "Poppins", sans-serif;
    font-size: 100%;
	color: white;
}

a:link {
    color:#FF0000; 
}  
a:visited {
    color:#00FF00; 
} 
a:hover {
    color:#FF00FF; 
} 
a:active {
    color:#0000FF; 
}

#current-date {
    text-align: right;
    font-size: 4rem;
	font-weight: 200;
    padding-right: 2rem;
}

#current-conditions {
    font-size: 4rem;
	display: flex;
	flex-direction: row;
    padding: 7rem;
	align-items: center;
}

#current-icon img {
	width:50%;
	height:auto;
}

#location {
    font-size: 4rem;
}

#location-icon {
	width: 9%;
	height: auto;
}

#current-temperature {
	font-size:17rem;
	font-weight: 100;
	line-height: 0;
    text-align: center;
}

#day-1, #day-2, #day-3, #day-4, #day-5 {
	font-size: 2rem;
	font-weight: 300;
}

#forecast {
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
	font-size: 2em;
	line-height: 1;
}

#icon1 img, #icon2 img, #icon3 img, #icon4 img, #icon5 img {
	width: 30%;
}